.App {
  text-align: center;
}
.classmain{
  background-image: url("");
}
.classask{
  background-image: url("image1.jpg");
  background-color: aqua;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  padding: 30px;
  font-family: monospace;
  font-size: 30px;
}
.classresult{
  background-image: url("image1.jpg");
  background-color: aqua;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  padding: 30px;
  font-family: monospace;
  font-size: 30px;
}
.button{
  padding: 10px;
  width: 100px;
  font-size: 20px;
  border-radius: 15px;
  background-color: rgb(172, 175, 175);
  border: none;
}
.disease{
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(80, 80, 247);
  margin-left: 28%;
  margin-right: 28%;
  padding: 20px;
  border-radius: 35px 35px 35px 35px;
  border: 10px solid rgb(175, 174, 174);
}
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}